body{
    padding: 0;
    margin: 0;
}
.main{
    border: solid lightgrey 1px;
    width: 470px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border-radius: 10px;
}
img{
    width: 70px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 33px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #202124;
    font-size: 24px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
text-align: center;
}

h3{
    margin-top: 2px;
    text-align: center;
    color: #202124;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;


}
input{
margin-left: auto;
display: block;
margin-right: auto;
width: 370px;
height: 60px;
border-radius: 4px;
border: solid lightgrey 1px;
margin-bottom: 7px;

}
::placeholder{
    font-size: 16px;
    padding: 15px;
}
p{
    text-decoration: none;
    color: blue;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    margin-left: 50px;
    margin-top: 0px;


}
a{text-decoration: none;
}
.racunar{
color: gray;
font-size: 15px;
margin-right: 20px;
margin-bottom: 0%;

}
.saznajte{
color: blue;
}
.div2{
margin-top: 50px;
}

.nalog{
    margin-top: 35px;
}
button{
    background-color: blue;
    color: white;
    border: transparent;
    display: block;
    margin-left: 345;
    margin-top: -45;
    width: 80px;
    height: 35px    ;
    font-size: 15px;
    border-radius: 10px;
}
button:hover{
    background-color: darkblue;
}










